<p>Hola <%= @name %>,</p>

<p>para confirmar tu cuenta en Prowellness tienes que pinchar en el siguiente enlace:</p>

<p><a href="<%= @url %>"><%= @url %></a>

<p>Muchas gracias!</p>

<p>--<br />
Equipo prowellness</p>