<div class="banner-981x106 ads">
  <p>publicidad</p>
  <div class="banner">
  <!--[if !IE]> -->
    <object type="application/x-shockwave-flash"
      data="/assets/ads/981x105/ventaMujer981x105.swf" width="981" height="105">
    <!-- <![endif]-->

    <!--[if IE]>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
      codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
      width="981" height="105">
      <param name="movie" value="/assets/ads/981x105/ventaMujer981x105.swf" />
    <!--><!--dgx-->
      <param name="loop" value="true" />
      <param name="menu" value="false" />

      <p>contrata tu <b>publicidad</b> aquí</p>
    </object>
    <!-- <![endif]-->
  </div>
</div> <!-- banner-top-content -->