<!-- RAÚL: ESTO LO TENGO QUE REVISAR -->

<!-- VENTANA MODAL -->
<div class="window">
  <div id="modal-window" class="register-success">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/check-green.png", :alt => 'Check green', :class=>'check-green' %>
      <h2></h2>
      <p>¡Cuenta activada correctamente!.</p>
      <p>Comienza por completar tu perfil si lo consideras oportuno. Siempre lo podrás hacer más adelante.</p>
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
<!-- FIN VENTANA MODAL -->
