<!-- VENTANA MODAL -->
<div class="window">
  <div id="modal-window" class="forbidden-access">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/forbidden.png", :alt => 'Access restricted', :class=>'forbidden' %>
      <h2></h2>
      <p>Para acceder a estos contenidos, sólo podrás hacerlo si eres un <a href="<%= new_users_path %>">usuario registrado</a> a <span class="prowellness">prowellness<em>.es</em></span></p>
      <p>Si ya lo eres,<a class="login">¡haz login!</a></p>
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
<!-- FIN VENTANA MODAL -->
