<div class="window">
  <div id="remember_pass_sent_it" class="modal-window remember-pass">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/check-green.png", :alt => 'Check green', :class=>'check-green' %>
      <h2>Contraseña enviada</h2>
      <p>En unos segundos recibirás un mail a <em>PONER EMAIL DE LA PERSONA DE-HUMANA</em> para que puedas recuperar tu password.</p>
      <p>Recuerda que siempre la podrás cambiar editando tus datos.</p>
      
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
