<!-- VENTANA MODAL -->
<div class="window">
  <div id="success_window" class="modal-window">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/check-green.png", :alt => 'Check green', :class=>'check-green' %>
      <h2>¡Genial!</h2>
      <p><%= flash[:notice] %></p>
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
<!-- FIN VENTANA MODAL -->
