<div class="window">
  <div id="<%= modal_id %>" class="modal-window window-book-requested">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/check-green.png", :alt => 'Check green', :class=>'check-green' %>
      <h2>Solicitud enviada</h2>
      <p class="first">Muchas gracias por tu interés en mi libro.</p> 
      <p>Próximamente te enviaré un correo informándote del número de cuenta para poder hacer la compra por transferencia.</p>
      <%= image_tag "application/modal-window/domingo-success-signature.png", :alt => 'Register success', :class=>'signature' %>      
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
