<h2>Nuevo post</h2>

<div style="float:left; margin: 10px 10px;">
  <%= render "form" %>
</div>

<div style="overflow:hidden; height:1%; margin: 10px 10px;">
  <h3>Previsualización del contenido</h3>
  <div id="preview"></div>
</div>