<!-- VENTANA MODAL -->
<div class="window">
  <div id="abdo-levels" class="modal-window abdo-levels">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <h2>Consulta cuál es tu nivel</h2>
      <p>Cada nivel tiene un objetivo.</p>  
      <p>Si sabes lo que quieres, ¡escoge el tuyo!</p>
      <%= image_tag "visual-guide/abdo-levels-help.jpg", :alt => 'Elige el nivel de abdominales que prefieras' %>
      
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
<!-- FIN VENTANA MODAL -->
