<%= stylesheet_link_tag "visual-guide","stylish-select", 'search','ui-theme/jquery-ui','ui-theme/jquery.ui.datepicker','ui-theme/jquery.ui.theme' %>
<%= javascript_include_tag 'visual-guide' %>

<%= render "site/header_page", :title => 'Guía visual de '+translate_category(params[:category]) %>

<div id="posts">
  <%= render :partial => "posts" %>
</div>