<%= stylesheet_link_tag "visual-guide",'search' %>
<%= javascript_include_tag 'visual-guide' %>

<%= render "site/header_page", :title => 'Guía visual de '+translate_category(params[:category]) %>

<div id="posts">
  <%= render :partial => "posts" %>
</div>