// VARIABLES ***************************************************************

$font-color-ads:#686868; // Font color for ads elements
$font-color-gray:#CCCCCC;
$font-color-orange:#FF6600;
$font-color-green:#7DAA00;

// common-background colors

$bg-black-darkest:#1B1B1B;
$bg-black-normal:#333333;
$bg-blue-darkest:#346F87;
$bg-blue-normal:#009FB9;
$bg-red-darkest:#952323;
$bg-red-normal:#CC0000;

$bg-color-ads:#F5F5F5; // Background color for all advertisement elements
$bg-color-hover:#B34700;
$bg-color-section-menu:#ADADAD;
$bg-color-section-menu-selected:#333333;
$margin-left-header:130px;

$space-top-boxes:15px;

// articles
$border-info-color:#CCCCCC;
$title-font-color:#336D85;
$date-font-color:#666666;
$bg-tags-color:#999999;
$bg-date-color:#0899B3;
$bg-pag-normal:#1A1A1A;
$bg-pag-current:#FF0000;


// FUNCTIONS ***************************************************************
@mixin opacity ($opacity:0){
  opacity:$opacity;
  -moz-opacity:$opacity;
  
}

@mixin box-shadow ($x-radius:0px,$y-radius:0px,$length:10px,$alpha:0.3) {
  -moz-box-shadow:$x-radius $y-radius $length rgba(0,0,0,$alpha);
  -webkit-box-shadow: $x-radius $y-radius $length rgba(0,0,0,$alpha);
  box-shadow: $x-radius $y-radius $length rgba(0,0,0,$alpha);
}

@mixin box-shadow-none() {
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin box-shadow-bottom-none () {
  -moz-box-shadow: -5px -15px 10px rgba(0, 0, 0, 0.2), 5px -15px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -5px -15px 10px rgba(0, 0, 0, 0.2), 5px -15px 10px rgba(0, 0, 0, 0.2);
  box-shadow: -5px -15px 10px rgba(0, 0, 0, 0.2), 5px -15px 10px rgba(0, 0, 0, 0.2);
}



@mixin box-shadow-inset ($x-radius:0px,$y-radius:0px,$length:6px,$alpha:0.5) {
  -moz-box-shadow:inset $x-radius $y-radius $length rgba(0,0,0,$alpha);
  -webkit-box-shadow: inset $x-radius $y-radius $length rgba(0,0,0,$alpha);
  box-shadow: inset $x-radius $y-radius $length rgba(0,0,0,$alpha);
}

@mixin border-radius($radius:25px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius:25px) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius:25px) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-top-left-none($radius:0) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-left-none($radius:0) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-none($radius:0) {
  @include border-top-left-none();
  @include border-bottom-left-none();
}

@mixin border-top-right-none($radius:0) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-right-none($radius:0) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-right-none($radius:0) {
  @include border-top-right-none();
  @include border-bottom-right-none();
}

@mixin text-blur($color: white){
  text-shadow: -1px 1px 10px lighten($color, 50%);  
}

@mixin hover-transition($time-effect:150ms) {
  -webkit-transition: $time-effect linear 0s;
  -moz-transition: $time-effect linear 0s;
  -o-transition: $time-effect linear 0s;
  transition: $time-effect linear 0s;
}

@mixin linear-gradient($color:black) {

  @if $color == green{
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.29, rgb(135,180,0)),
        color-stop(0.83, rgb(104,142,0))
    );
    background-image: -moz-linear-gradient(
        left center,
        rgb(135,180,0) 29%,
        rgb(104,142,0) 83%
    );
  }@else if $color == black{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(51,51,51)),
        color-stop(1, rgb(0,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(51,51,51) 30%,
        rgb(0,0,0) 100%
    );  
  }@else if $color == red{
    background-image: linear-gradient(top, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -o-linear-gradient(top, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -moz-linear-gradient(top, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -webkit-linear-gradient(top, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -ms-linear-gradient(top, rgb(204,51,51) 40%, rgb(149,35,35) 70%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.4, rgb(204,51,51)),
    	color-stop(0.7, rgb(149,35,35))
    );  
  }
  
}

@mixin linear-gradient-hover($color:black) {

  @if $color == green{
    // if you need it with green gradient, define it!
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.29, rgb(135,180,0)),
        color-stop(0.83, rgb(104,142,0))
    );
    background-image: -moz-linear-gradient(
        left center,
        rgb(135,180,0) 29%,
        rgb(104,142,0) 83%
    );
  }@else if $color == black{
    background-image: linear-gradient(top, rgb(56,55,56) 14%, rgb(20,19,20) 76%);
    background-image: -o-linear-gradient(top, rgb(56,55,56) 14%, rgb(20,19,20) 76%);
    background-image: -moz-linear-gradient(top, rgb(56,55,56) 14%, rgb(20,19,20) 76%);
    background-image: -webkit-linear-gradient(top, rgb(56,55,56) 14%, rgb(20,19,20) 76%);
    background-image: -ms-linear-gradient(top, rgb(56,55,56) 14%, rgb(20,19,20) 76%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.14, rgb(56,55,56)),
    	color-stop(0.76, rgb(20,19,20))
    );
  }@else if $color == red{
    background-image: linear-gradient(bottom, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -o-linear-gradient(bottom, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,51,51) 40%, rgb(149,35,35) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(204,51,51) 40%, rgb(149,35,35) 70%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.4, rgb(204,51,51)),
    	color-stop(0.7, rgb(149,35,35))
    );
  }
}

@mixin linear-dark-blue-gradient($direction:top){
  @if $direction == top {
    background-image: linear-gradient(top, rgb(0,76,152) 9%, rgb(0,60,105) 47%);
    background-image: -o-linear-gradient(top, rgb(0,76,152) 9%, rgb(0,60,105) 47%);
    background-image: -moz-linear-gradient(top, rgb(0,76,152) 9%, rgb(0,60,105) 47%);
    background-image: -webkit-linear-gradient(top, rgb(0,76,152) 9%, rgb(0,60,105) 47%);
    background-image: -ms-linear-gradient(top, rgb(0,76,152) 9%, rgb(0,60,105) 47%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.09, rgb(0,76,152)),
    	color-stop(0.47, rgb(0,60,105))
    );
  }@else {
    background-image: linear-gradient(top, rgb(9,67,125) 9%, rgb(1,42,71) 37%);
    background-image: -o-linear-gradient(top, rgb(9,67,125) 9%, rgb(1,42,71) 37%);
    background-image: -moz-linear-gradient(top, rgb(9,67,125) 9%, rgb(1,42,71) 37%);
    background-image: -webkit-linear-gradient(top, rgb(9,67,125) 9%, rgb(1,42,71) 37%);
    background-image: -ms-linear-gradient(top, rgb(9,67,125) 9%, rgb(1,42,71) 37%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.09, rgb(9,67,125)),
    	color-stop(0.37, rgb(1,42,71))
    );
  }
}

@mixin linear-blue-gradient($direction:top) {

  @if $direction == top {
    background-image: linear-gradient(top, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -o-linear-gradient(top, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -moz-linear-gradient(top, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -webkit-linear-gradient(top, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -ms-linear-gradient(top, rgb(1,112,132) 17%, rgb(27,76,91) 59%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.17, rgb(1,112,132)),
    	color-stop(0.59, rgb(27,76,91))
    );
  }
  @else {
    background-image: linear-gradient(bottom, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -o-linear-gradient(bottom, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -moz-linear-gradient(bottom, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -webkit-linear-gradient(bottom, rgb(1,112,132) 17%, rgb(27,76,91) 59%);
    background-image: -ms-linear-gradient(bottom, rgb(1,112,132) 17%, rgb(27,76,91) 59%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.17, rgb(1,112,132)),
    	color-stop(0.59, rgb(27,76,91))
    );
  }
}