header {
  float:left;
  width:100%;
  height:80px;
  background-color:$bg-black-darkest;

  .layout {
    
    .inner-layout {
      background-color:$bg-black-darkest;
    }
 
    height:100%;
    h1 {
      float:left; margin-left:$margin-left-header;
      a { font:normal 5.3em/1.1em YanoneKaffeesatzRegular; color:white; text-decoration:none; letter-spacing:-1.0px;
        
        &:hover {
          @include text-blur($bg-black-darkest);
          @include hover-transition;
        }        
        
        em {
          font-size:0.6em;
        }
      }
    }
  }
}

nav {
  float:left;
  background-color:$bg-blue-darkest;
  width:100%;
  height:49px;

  .layout {
    position:relative;
    background-color:$bg-blue-darkest;
    height:100%;
    
    .inner-layout {
      background-color:$bg-blue-darkest; padding-bottom:0;
    }
    
    .domingo {
      background:url(application/header-domingo.png) no-repeat 0 0;
      width:138px;
      height:198px;
      position:absolute; bottom:0; left:12px;
    }
    
    ul {
      float:left; margin-left:120px; margin-top:6px;
      
      li {
        float:left; margin-right:10px;
        
        .with-options {
          position:relative;

          .main-option {
            position:absolute;
            top:-34px; left:0;
            width:116px;
            height:34px;
            background:url(application/menu/articles-hover-top.png) no-repeat 0 0;
            padding:0;
            
            a {
              margin:10px 19px;
            }
          }
        }
        .options{
          position:absolute; top:25px; left:-18px; z-index:10;
          width:249px; height:165px;
          background:url(application/menu/articles-hover-bottom.png) no-repeat 0 0;
          display:none;
          
          ul {
            float:left; margin:12px 18px 0 20px; 
            
            padding:10px 0;

            li {
              background:url(application/list-disc.png) no-repeat 10px 11px; 
              padding-left: 10px;
              width:100%;
              
              img {
                float:left;
                margin:12px 3px 0;
              }
              a {
                font-size:1.4em; padding:4px 12px;

                &:hover {
                  background-color:$bg-black-darkest;
                }
              }
            }
          } //ul
        } //.options
        
      } // li
        
        a {

          float:left; font:normal 1.8em AbadiMTCondensedLight; color:white; text-decoration:none; padding:4px 12px;

          &:hover {
            background-color:$bg-black-darkest;
            @include border-radius(6px);
            @include box-shadow (0px,0px,20px,0.4);
          }

          &.selected {
            border:1px solid darken($bg-blue-darkest, 7%);
            background-color:lighten($bg-blue-darkest, 7%);
            @include border-radius(6px);
            @include box-shadow-inset;
          }
        }
        
    } // ul
    
    .user_options {
      position:absolute;
      top:-49px;
      right:43px;
      width:350px;
      
      ul {
        float:right;
        margin-left:0;
        position:relative;
        
        li {
          float:right;
          margin-right:10px;
          
          &:first-child {
            margin-right:0;
          }
          
          a {
            font-size:1.4em; padding:8px 12px;
          }

          &.user {
            padding-right:52px;
            
            p {
              float:left; font:normal 1.4em AbadiMTCondensedLight; color:white; padding:8px 5px;
            }
            
            a {
              text-decoration:underline;
            }
            
            .icon {
              position:absolute; bottom:-6px; right:0;
              
              &.man {
                background:url(application/man-logged.png) no-repeat right 0; width:46px; height:44px;
              }
              
              
            }
          }
        }
      }
    }
    
  } // .layout
} // nav