<div id="section-que-es" class="nav-section">
  <span class="scissors que-es"></span>
  <div class="box-options">
    <a class="option que-es current" onclick="javascript:void $.scrollTo('#section-que-es',400);">Qué es prowellness</a>
    <a class="option domingo" onclick="javascript:void $.scrollTo('#section-domingo',400);">Domingo Sánchez</a>    
    <a class="option libros-prowellness" onclick="javascript:void $.scrollTo('#section-libros-prowellness',400);">Libros Prowellness</a>        
    <a class="option trayectoria" onclick="javascript:void $.scrollTo('#section-trayectoria',400);">Trayectoria profesional</a>        
  </div>
</div>
