<%= javascript_include_tag 'about' %>
<%= stylesheet_link_tag "about" %>

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Sobre prowellness</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>

<article>
  
  <!-- TODO: SHOW SPECIFIC INFORMATION WITH THE SECTION THAT I'VE SEEN -->
  <!-- to pass the specific section, like in articles   -->
  
  <%= render "about_sections" %>
  <p><b>Prowellness</b> es un portal de estilo de vida donde se pretende ofrecer información en todo lo relacionado con la actividad física y la salud. El objetivo no es solo de transmitir ejercicios y recursos, sino también, y este es el verdadero valor, la pretensión de conseguir educar, elevando los conocimientos y comprendiendo los fundamentos del ejercicio físico. El resultado final perseguido es conseguir elevarse en la espiral de conocimiento.</p>

  <h3>Domingo Sánchez, creador de Prowellness</h3>

  <p><b>Prowellness</b> es un portal de estilo de vida donde se pretende ofrecer información en todo lo relacionado con la actividad física y la salud. <b>Prowellness</b> es el resultado de mi experiencia personal a lo largo de varios años en este sector, donde abunda la información de qué hacer, algo de cómo hay que hacerlo y nada de llegar a comprender porqué hacerlo. Tanto los contenidos de este portal, como el transmitido en las diferentes publicaciones, además de ofrecer recursos, ejercicios y de indicar cómo se hacen, intenta hacer comprender el por qué de lo que está haciendo, solo así, se conseguirá la autonomía personal, llegando a sacar conclusiones y participando de forma activa y consciente en la generación y aplicación de contenidos.
  </p>

  <p><b>Prowellness</b> nace como idea y ahora como realidad. Pretende ser un portal de acceso a la información, un asistente y sobre todo, un generador de recursos que puedan ser aplicados en complemento a los manuales publicados y los que acontecerán.El objetivo no es solo de transmitir ejercicios y recursos, sino también, y este es el verdadero valor, la pretensión de conseguir educar, elevando los conocimientos y comprendiendo los fundamentos del ejercicio físico. El resultado final perseguido es conseguir elevarse en la espiral de conocimiento.</p>

  <h3>Subir en la espiral para conseguir los objetivos</h3>
  
  <p>Ofrecer información permite subir en la espiral de conocimiento. Solo cuando estamos en esta fase de desarrollo, de motivación, es cuando necesitamos más información, más recursos, los manuales tan solo son un medio más que será necesario para mantenerse en esta inercia y así llegar a cambiar nuestros hábitos, nuestra vida, nuestro ser.
  </p>
  <p>El presente web representa la proyección visual de los contenidos de los manuales. Una herramienta que permite darle "vida" al texto estático de los libros, complementando así la información y permitiendo un desarrollo continuo tomando como base los contenidos de los manuales.</p>
  
  <h3>Vía de comunicación</h3>
  
  <p>Prowellness es un proyecto personal, a través de los contenidos y opiniones personales del blog, permite una via de comunicación y sobre todo la posibilidad no solo de transmitir unos conocimientos, sino ideas y forma de entender el ejercicio y un estilo de vida saludable. Espero sinceramente que pueda servirte de ayuda en alguna de sus partes.
  </p>
  <p>Finalmente, Prowellness queda abierta a sugerencias y opiniones que puedan aportar ideas y crecimiento que nos enriquezca en este apasionante mundo.</p>
</article>