
<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Últimos artículos</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>

</header>

<!-- MOSTRAR UN CARRUSEL DE LOS ÚLTIMOS 5 ARTÍCULOS

+ 

2 ARTÍCULOS "SIMPLES"

+

LINK PARA VER "MÁS ARTÍCULOS" -->

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Últimos vídeos</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>

</header>

<!-- MOSTRAR LOS ÚLTIMOS 2 VÍDEOS SUBIDOS (SIN REPETIR SECCIÓN)

+

LINK PARA VER MÁS VÍDEOS -->

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Última entrada en el blog</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>

</header>

<!-- MOSTRAR LA ÚLTIMA ENTRADA EN EL BLOG

+

LINK PARA VER MÁS ENTRADAS AL BLOG -->