@import "application";

article {
  float:left;
  margin:0;
  
  
  p {
    margin-top:20px;
    line-height:1.4em; 
  }

  h3 {
    font:normal 2.6rem QuicksandBook;
    margin-top:20px;
    letter-spacing:-2.0px;
  }
  .nav-section{
    
    &:first-child {
      margin:0;
    }
    
   .box-options {
     float:left;
     margin:0;
     background:url(about/section-box-dashed.png) no-repeat 0 0;
     width:595px;
     height:40px;

   }

   .scissors {
      &.que-es {
        right: 5px;
      }  
      &.domingo {
        right: 5px;
      }  
      &.libros-prowellness {
        right: 5px;
      }  
      &.trayectoria {
        right: 5px;
      }  
   }

  }  
}
