@import "partials/common_properties";

article {
  float:left;
  margin:0;
  width:100%;
  
  p {
    margin-top:20px;
    line-height:1.4em; 
  }

  h3 {
    font:normal 2.6rem QuicksandBook;
    margin-top:20px;
    letter-spacing:-2.0px;
  }
  
  .nav-section{
    
    &:first-child {
      margin:0;
    }
    
   .box-options {
     float:left;
     margin:0;
     background:url(about/section-box-dashed.png) no-repeat 0 0;
     width:595px;
     height:40px;

   }

   .scissors {
      &.que-es {
        right: 5px;
      }  
      &.domingo {
        right: 20px;
      }  
      &.libros-prowellness {
        right: 40px;
      }  
      &.trayectoria {
        right: 60px;
      }  
   }

  }  
}

.image-domingo {
  float:left;
  margin-right:20px;
  padding:11px;
  width:203px;
  height:301px;
  border:1px solid $border-info-color;
  position:relative;
  
  .shadow {
    position:absolute; bottom:-16px; left:0;
    z-index:0;
    background:url(about/domingo-shadow.png) no-repeat 0 0;
    width:226px;
    height:16px;
  }
}


.book_gallery {

  float:left;
  margin-right:20px;
  width:689px;
  height:377px;
  border:1px solid $border-info-color;
  position:relative;
  
  .drop {
    position:absolute;
    top:0;
    left:0;
    width:581px;
    height:156px;
    z-index:0;
    background:url(about/drop-books.png) no-repeat 0 0;
  }
  
  .shadow {
    position:absolute; bottom:-16px; left:0;
    z-index:0;
    background:url(application/wide-shadow.png) no-repeat 0 0;
    width:689px;
    height:16px;
  }
  
  .gallery {
    float:left; 
    position:relative;
    z-index:10;
    width:689px;
    height:377px;

    li{ 
    	width:689px;
    	height:377px;
    	overflow:hidden; 
    	
    	.inside {
    	  padding:25px 0 25px 120px;  
    	  width:569px;
    	  height:327px;
    	}
    	
    	
      img {
  	    float:left;
  	    margin-right:25px;
  	  }

    	
    	.buy {
    	  float:left;
    	  margin-top:10px;
    	  width:150px;
    	  height:60px;
        
        p {
          width:100%;
          color:$date-font-color;
          
          a {
            color:$font-color-orange;
            text-decoration:none;
            
            &:hover {
              color:darken($font-color-orange,20%);
            }
          }
        }
        
        img {
          float:left;
          margin-top:5px;
        }
    	}
    	
    	h3 a {
    	  float:left;
    	  width:250px;
    	  font:normal 1.7em/0.9em AbadiCondensed; letter-spacing:-0.4px;
    	  color:$bg-blue-darkest;
    	  margin-top:80px;
    	  padding-bottom:20px;
    	  text-decoration:none;
    	  
    	  &:hover {
    	    color:darken($bg-blue-darkest,20%);
    	  }
    	  
    	}
    	
    	p {
    	  float:left;
    	  width:250px;
    	  margin:0;
    	}
    	
    }
    
  }
  ol{
  	
  	position:absolute;
  	bottom:30px;
  	left:140px;
  	z-index:10;
  	width:200px;
  	
    li{
    	margin:0 5px 0 0; 
    	padding:0;
    	float:left;
    	list-style:none;
    	height:12px;
    	line-height:28px;
    	
    	

      &.current a{
        background:url(application/gallery/index-nav.png) no-repeat 0 -12px;
        
        &:hover {
      	  background-position:-13px -12px;
      	}
      }  	
      	
    	a{
      	float:left;
      	width:12px;
      	height:12px;
      	background:url(application/gallery/index-nav.png) no-repeat 0 1px;
      	text-decoration:none;
      	
      	&:hover {
      	  background-position:-13px 1px;
      	}
      }
    }
    a:focus{outline:none;}
  }
}

.career {
  float:left;
  
  .data {
   margin:0; 
   width:100%; 
  }
  
  ul {
    float:left; 
    width:689px;
    height:auto;
    
    li {
      float:left;
      width:100%;
      padding-bottom:30px;
      
      ul {
        float:left;
        width:100%;
        margin-top:10px; margin-left:20px;
        
        &.webs {
          margin:0;
        
          li {
            list-style:none;

            &.first {
              margin-top:0;
            }
          }
        }
        
        li {
          float:left;
          margin:10px 0 0 0;
          padding:0;
          list-style:disc;
          
        }
      }
    }
  }  
  
  .left {
    float:left; 
    width:107px;
    height:100%;
  }
  
  .right {
    float:right;
    width:582px;
  }
  
  h4 {
    float:left;
    font:normal 2em QuicksandBook;
    letter-spacing:-2.0px;
    color:white;
    background-color:$bg-blue-normal;
    padding:5px 15px;
    @include border-radius(5px);
  }
  
  h5 {
    float:left; 
    width:100%;
    font:bold 1.3em Arial;
    margin-top:10px;
    padding-bottom:15px;
  }
  
  h5 + figure {
    margin-top:0;
  }
  
  figure {
    float:left;
    margin:20px 20px 0 0;
    border:1px solid $border-info-color;    
    padding:11px;

    &.last {
      margin-right:0;
    }
    
    figcaption {
      font:normal 0.9em Arial;
      padding-top:5px;
      width:195px;
    }
  }
  
  .other {
    float:left;
    background-color:lighten($date-font-color,55%);
    padding-bottom:10px;
    
    h3 {
      margin:10px 0 0 10px;
    }
    .book_gallery {
      margin:7px 10px 0;
      
      .inside {
        background-color:white;
        
        h3 {
          margin-left:0;
        }
      }
    }
  }
}


