.posts {

  img {
    width:311px; height:187px;
  }
  
  .main_post {
    float:left; margin:0;

    h2 {
      a {
        font-size:2.1em;
      }
    }
    div {
      float:left; height:auto;
    }

    img {
      width:665px;
      height:371px;
      padding-bottom:10px;
    }
  }
}

.tags {
  float:left; width:100%; margin-top:16px;
}