// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$spacing:40px;

@import "application";

.date {
  margin-top:2px;
  font:normal 1.0em Arial;
  color:$date-font-color;
}

.posts {
  
  img {
    float:left; margin-right:15px;
    width:311px; height:187px;
  }
  
  h2 {
    width:100%; margin-top:4px;

    a {
      font:normal 1.9em YanoneKaffeesatzRegular;
      text-decoration:none;
      color:$title-font-color;

      &:hover {
        color:darken($title-font-color,20%);
      }
    }

  }
  
  .tags {
    float:left; width:100%; margin-top:16px;
    
    li {
      margin:0 5px 0 0;
      
      a {
        font:normal 0.9em Arial; color:white;
        text-decoration:none;
        padding:3px 8px; background-color:$bg-tags-color;
        @include border-radius(4px);
        
        &:hover {
          background-color:darken($bg-tags-color,20%);
          cursor:pointer;
        }
        
      }
    }
  }
  .main_post {
    float:left; margin:0;

    h2 {
      a {
        font-size:2.1em;
      }
    }
    div {
      float:left; height:auto;
    }

    img {
      width:665px;
      height:371px;
      padding-bottom:10px;
    }
  }
  
  
  li {
    float:left; margin-top:$spacing;
    position:relative;
  
    div {
      padding:11px 11px 15px;
      width:667px;
      border:1px solid $border-info-color;
      float:left; z-index:10;
    }
    
    .post {
      margin-top:10px; width:100%; 
      
      a {
        color:$date-font-color;
        text-decoration:underline;

        &:hover {
          color:darken($date-font-color,20%);
        }
        
      }
      
    }
  
    .shadow {
      position:absolute; bottom:-16px; left:0;
      z-index:0;
      background:url(application/wide-shadow.png) no-repeat 0 0;
      width:689px;
      height:16px;
    }
    
    &:hover {
      div {
        border-color:darken($border-info-color,10%);
      }
      
      .shadow {
        background:url(application/wide-shadow-hover.png) no-repeat 0 0;
      }
      
    }
  }
}

.others {
  float:left; margin-top:$spacing; width:100%;
  
  .header {
    @include border-radius-top(10px);
    background-color:$bg-blue-darkest;
    padding:10px 15px;
    
    h2 {
      font:normal 2.0em QuicksandBook; color:white; letter-spacing:-2.0px;
    }
  }
  
  .short_post {
    
    li{
      float:left;
      height:40px;
      width:659px;
      padding:10px 15px;
      
      h4 {
        width:100%;

        a {
          font:normal 1.7em YanoneKaffeesatzRegular;
          text-decoration:none;
          color:$title-font-color;

          &:hover {
            color:darken($title-font-color,20%);
          }
        }
      }
      
      &.odd {
        background-color:$bg-color-ads;
      }
      
      &.even {
        background-color:white;        
      }
      
      
    }
  }
}

.pagination {
  background-color:$bg-black-normal;
  @include border-radius-bottom(10px);
  padding-top:8px;
  height:22px;
  
  text-align:center;
  
  span {
    color:white;
    
    &.first {

      a {
        background:url(application/page-arrows.png) no-repeat 2px 1px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    &.prev {

      a {
        background:url(application/page-arrows.png) no-repeat 2px -17px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    
    &.next {

      a {
        background:url(application/page-arrows.png) no-repeat -15px -17px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    &.last {

      a {
        background:url(application/page-arrows.png) no-repeat -15px 1px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    a {
      with:100%; height:100%; text-align:center;
      background-color:$bg-pag-normal; 
      font:normal 1em Arial; color:white;
      padding:3px 7px;
      font:normal 1em Arial; color:white;
      @include border-radius(3px);
      
      text-decoration:none;
      
      &:hover {
        background-color:lighten($bg-pag-normal,20%);
      }
    }
    
    &.current {
      a {
        background-color:$bg-pag-current; 
      }
    }
  }
}