@import "partials/common_properties";

.nav-section {
  background:none;
  margin-top:20px;
  
  .box-options {
    padding:0;

    a {
      float:left;

      &:first-child {
        margin:0 40px 0 45px;
      }
    }

    .mujer {
      background:url(books/mujer-en-forma-btn.png) no-repeat 0 -70px;
      width:135px;
      height:70px;
      

      &.current, &:hover {
        background-position:0 0;
      }
    }

    .entrenate {
      background:url(books/entrenate-btn.png) no-repeat 0 -42px;
      width:160px;
      height:42px;
      margin-top:14px;

      &.current, &:hover {
        background-position:0 0;
      }
    }
  }
}

h3 {
  float:left;
  width:100%;
  font:normal 2.3rem QuicksandBook;
  color:$bg-black-normal;
  letter-spacing:-2.0px; 
}

.books-box {
  float:left;
  padding:11px;
  width:665px;
  height:477px;
  border:1px solid $border-info-color;
  position:relative;
  
  .price {
    position:absolute;
    bottom:58px;
    right:-26px;
    background:url('books/price-band.png') no-repeat 0 0;
    width:211px;
    height:107px;
    
    h5 {
      float:left;
      margin-top:31px;
      width:240px;
      text-align:center;
      
      font:normal 5.0em/0.5em YanoneKaffeesatzRegular;
      
      color:white;
      
      em {
        font-size:0.6em;
      }
    }
    
    p {
      float:left;
      margin:0;
      width:230px;
      text-align:center;
      color:white;
      font:normal 1.3em YanoneKaffeesatzRegular;
    }
  }
  
  
  .info {
    float:left;
    margin:30px 0 0 10px;
    width:100%;
    
    p {
      float:left;
      font:normal 1.4em YanoneKaffeesatzRegular;
      color:$date-font-color;
      margin:0;
    }
  }
  
  .left {
    float:left;
    width:220px;
    height:100%;
    
  }
  
  .right {
    float:right;
    width:445px;
    height:100%;
    position:relative;

    .preview {
      position:absolute;
      top:10px;
      right:10px;
      
      background:url('books/btn-preview.png') no-repeat 0 0;
      width:45px;
      height:39px;
      
      &:hover {
        background-position:0 -39px
      }
    }
    
    .paypal {
      position:absolute;
      top:60px;
      right:19px;
    }
    
    .buy-now {
      position:absolute;
      right:16px;
      bottom:182px;
      border:none;
    }

    .buy-outside {
      position:absolute;
      right:16px;
      bottom:255px;
      border:none;
    }

    .pay-on-delivery {
      position:absolute; bottom:14px; right:11px; text-align:center;
      padding:4px 10px;
      text-decoration:none;
      @include border-radius(6px);
      width:130px;
      color:#003366;
      font:normal 1em Arial;
      font-style:italic;
      -webkit-font-smoothing: antialiased;
      border:1px solid #FF9933;
      
      background-image: linear-gradient(top, rgb(255,243,220) 22%, rgb(255,176,57) 87%);
      background-image: -o-linear-gradient(top, rgb(255,243,220) 22%, rgb(255,176,57) 87%);
      background-image: -moz-linear-gradient(top, rgb(255,243,220) 22%, rgb(255,176,57) 87%);
      background-image: -webkit-linear-gradient(top, rgb(255,243,220) 22%, rgb(255,176,57) 87%);
      background-image: -ms-linear-gradient(top, rgb(255,243,220) 22%, rgb(255,176,57) 87%);

      background-image: -webkit-gradient(
      	linear,
      	left top,
      	left bottom,
      	color-stop(0.22, rgb(255,243,220)),
      	color-stop(0.87, rgb(255,176,57))
      );
      
      &:hover {
        cursor:pointer;
        background-image: linear-gradient(top, rgb(255,243,220) 0%, rgb(255,176,57) 96%);
        background-image: -o-linear-gradient(top, rgb(255,243,220) 0%, rgb(255,176,57) 96%);
        background-image: -moz-linear-gradient(top, rgb(255,243,220) 0%, rgb(255,176,57) 96%);
        background-image: -webkit-linear-gradient(top, rgb(255,243,220) 0%, rgb(255,176,57) 96%);
        background-image: -ms-linear-gradient(top, rgb(255,243,220) 0%, rgb(255,176,57) 96%);

        background-image: -webkit-gradient(
        	linear,
        	left top,
        	left bottom,
        	color-stop(0, rgb(255,243,220)),
        	color-stop(0.96, rgb(255,176,57))
        );
      }
    }
  }
  
  ul {
    float:left;
    width:100%;
    height:100%;
    position:relative;
    
    li {
      position:absolute;
      display:none;
      top:0;
      left:0;
      width:100%;
      height:100%;
      
      img {
        float:left;
      }
      
      h4 {
        float:left;
        margin-top:10px;
        font:normal 2.4em AbadiCondensed;
        color:$bg-blue-darkest;
        width:420px;
        padding-bottom:5px;
      }
      
      p {
        float:left;
        width:252px;
        margin-top:10px;
        line-height:1.5em;
        
      }
    } 
  }
  
  // navigation controls
  ol{
  	
  	position:absolute;
  	bottom:170px;
  	left:15px;
  	z-index:10;
  	width:40px;
  	
    li{
    	margin:0 5px 0 0;
    	padding:0;
    	float:left;
    	list-style:none;
    	height:12px;
    	line-height:28px;

      &.current a{
        background:url(application/gallery/index-nav.png) no-repeat 0 -12px;
        
        &:hover {
      	  background-position:-13px -12px;
      	}
      }  	
      	
    	a{
      	float:left;
      	width:12px;
      	height:12px;
      	background:url(application/gallery/index-nav.png) no-repeat 0 1px;
      	text-decoration:none;
      	
      	&:hover {
      	  background-position:-13px 1px;
      	}
      }
    }
  }
  
  .shadow {
    position:absolute; bottom:-16px; left:0;
    z-index:0;
    background:url(application/wide-shadow.png) no-repeat 0 0;
    width:689px;
    height:16px;
  } 
}

.content-extra {
  float:left;
  
  header {
    float:left;
    margin-top:30px;
    background-color:$woman-red-color;
    padding:15px;
    width:660px;
    height:57px;
    @include border-radius(5px);
    position:relative;
    margin-bottom:10px;

    h3 {
      float:left;
      font:normal 2.1em YanoneKaffeesatzRegular;
      letter-spacing:-0.4px;
      color:white;
      width:auto;      
    }

    .woman-logo {
        float:left;
        width:117px;
        height:58px;
        margin:0 10px;
        background:url(books/woman-logo-white.png) no-repeat 0 0;
      }

    .white-bands {
      position:absolute;
      top:-4px;
      right:10px;
      background:url(books/white-bands.png) no-repeat 0 0;
      width:134px;
      height:94px;
    }
  }

  ul {
    float:left;
    width:690px;
    margin-top:10px;

    &.single {
      width:320px;
      margin-right:30px;

      li {
        width:320px;
      }

      &.last {
        margin-right:0;
      }
    }

    li {
      float:left;
      width:670px;
      font:normal 1em Arial;
      color:$bg-black-normal;
      background-color:#F5F5F5;
      padding:10px;
      height:25px;

      &.header {
        background-color:#C5D793;
        font-size:1.6em;
        font-weight:bold;
        line-height:1.4em;
      }

      &.odd {
        background-color:#E9E9E9;  
      }

      &.kind {
        font:bold 1.3em/1.6em Arial;
      }

      a {
        float:left;
        padding:4px 0 14px 40px;
        font:normal 1.2em Arial;
        color:$bg-black-normal;
        margin-right:60px;

        &.last {
          margin-right:0;
        }

        &[href*='.pdf'] {
          background:url(application/pdf-icon.png) no-repeat 0 0;
        }

        &:hover {
          color:darken($bg-black-normal,15%);
        }


      }
    }

  }
}