//= require nivo-slider

@import "partials/common_properties";

$spacing:30px;


.posts {

  .main_post {
    float:left; margin:0;

    h2 {
      a {
        font-size:2.1em;
      }
    }
    div {
      float:left; height:auto;
    }

    img {
      width:665px;
      height:371px;
      margin-bottom:5px;
    }
  }
  
  
  img {
    float:left; margin-right:15px;
  }
  
  &.month-exercises {
    h2 {
      width:90%;
    }
  }
  
  h2 {
    width:100%; margin-top:4px;

    a {
      font:normal 1.9em YanoneKaffeesatzRegular;
      text-decoration:none;
      color:$title-font-color;

      &:hover {
        color:darken($title-font-color,20%);
      }
    }

  }
  
  .entry {
    font-style:italic;
  }
  
  h3 {
    width:100%; margin-top:0px;

    a {
      font:normal 1.3em YanoneKaffeesatzRegular;
      text-decoration:none;
      color:$font-color-green;

      &:hover {
        color:darken($font-color-green,20%);
      }
    }

  }
  
  li {
    float:left; margin-top:$spacing;
    position:relative;
    
    div {
      padding:11px;
      width:665px;
      border:1px solid $border-info-color;
      float:left; z-index:10;
    }
    
    .band-date {
      position:absolute;
      top:-8px;
      right:7px;
      width:48px;
      height:45px;
      z-index:20;
      padding:6px 7px 0 0;
      background:url(articles/date-articles-list.png) no-repeat 0 0;
      
      p {
        float:left; margin:0;
        color:white; letter-spacing:-1.0px;
        font:normal 2em/0.9em AbadiCondensed; width:100%; text-align:center;

        &.month {
          font:normal 1.7em/0.8em AbadiCondensed;
          text-transform:uppercase;
        }
        &.year {
          font:normal 1.3em/1em AbadiCondensed;
        }
      }
      
    }
    
    .post {
      margin-top:10px; width:100%; 
      
      a {
        color:$date-font-color;
        text-decoration:none;

        &:hover {
          color:darken($date-font-color,20%);
        }
        
      }
      
    }
  
    .shadow {
      position:absolute; bottom:-16px; left:0;
      z-index:0;
      background:url(application/wide-shadow.png) no-repeat 0 0;
      width:689px;
      height:16px;
    }
    
    &:hover {
      div {
        border-color:darken($border-info-color,10%);
      }
      
      .shadow {
        background:url(application/wide-shadow-hover.png) no-repeat 0 0;
      }
      
    }
  }
  
  &.multiple-posts {
    li {
      &:first-child {
        margin-top:0;
      }
    }
  }
}

.others {
  float:left; margin-top:$spacing; width:100%;
  
  .header {
    @include border-radius-top(10px);
    background-color:$bg-blue-darkest;
    padding:10px 15px;
    
    h2 {
      font:normal 2.0em QuicksandBook; color:white; letter-spacing:-2.0px;
    }
  }
  
  .short_post {
    
    li{
      float:left;
      height:40px;
      width:659px;
      padding:10px 15px;
      position:relative;
      
      h4 {
        width:100%;

        a {
          font:normal 1.7em YanoneKaffeesatzRegular;
          text-decoration:none;
          color:$title-font-color;

          &:hover {
            color:darken($title-font-color,20%);
          }
        }
      }
      
      &.odd {
        background-color:$bg-color-ads;
      }
      
      &.even {
        background-color:white;        
      }
      
      .band-date {
        background-color:$bg-tags-color;
        @include border-radius(3px);
        width:46px;
        height:42px;
        position:absolute;
        top:8px;
        right:15px;
        
        p {
          float:left; margin:0;
          color:white; letter-spacing:-1.0px;
          font:normal 2em/0.9em AbadiCondensed; width:100%; text-align:center;

          &.month {
            font:normal 1.7em/0.8em AbadiCondensed;
            text-transform:uppercase;
            margin-top:6px;
          }
          &.year {
            font:normal 1.3em/1em AbadiCondensed;
          }
        }
        
      }
    }
  }
}

.pagination {
  background-color:$bg-black-normal;
  @include border-radius-bottom(10px);
  padding-top:8px;
  height:22px;
  
  text-align:center;
  
  span {
    color:white;
    
    &.current {
      with:100%; height:100%; text-align:center;
      background-color:$bg-pag-current; 
      padding:3px 7px;
      font:normal 1em Arial;
      @include border-radius(3px);
    }
    
    &.first {

      a {
        background:url(application/page-arrows.png) no-repeat 2px 1px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    &.prev {

      a {
        background:url(application/page-arrows.png) no-repeat 2px -17px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    
    &.next {

      a {
        background:url(application/page-arrows.png) no-repeat -15px -17px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    &.last {

      a {
        background:url(application/page-arrows.png) no-repeat -15px 1px $bg-pag-normal;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    a {
      with:100%; height:100%; text-align:center;
      background-color:$bg-pag-normal; 
      font:normal 1em Arial; color:white;
      padding:3px 7px;
      @include border-radius(3px);
      
      text-decoration:none;
      
      &:hover {
        background-color:lighten($bg-pag-normal,20%);
      }
    }
    
    
  }
}

.tags {
  float:left;
  
  li {
    float:left; margin:0 5px 0 0;
  
  }
}

#header_article {
  float:left; width:569px; height:auto; position:relative;
  padding:30px 60px;
  
  background:url(application/bgr-article-mash.png);
  
  h3 {
    float:left; font:normal 2.1em/1em YanoneKaffeesatzRegular; color:$bg-black-normal; width:240px;
    em {
      font:normal 0.5em Arial; color:$bg-black-normal; margin-top:2px;
    }
  }
  
  &.visual-guide {
    h3 {
      width:550px;
    }  
  }

  #date {
    position:absolute; left:-20px; top:20px; width:62px; height:79px; z-index:10;
    
    background-color:$bg-date-color;
    
    p {
      float:left; margin:0;
      color:white; letter-spacing:-1.0px;
      font:normal 2em/0.9em AbadiCondensed; width:100%; text-align:center;
      
      &.day {
        margin-top:4px;
        font:normal 2.6em/1em AbadiCondensed;
      }
      &.month {
        font:normal 2.0em/0.8em AbadiCondensed;
        text-transform:uppercase;
      }
      &.year {
        font:normal 1.6em/1em AbadiCondensed;
      }
    }
    
    &.month-exercise {
      
      height:59px;
      
      p {
        &.day {
          display:none;
        }
        &.month {
          margin-top:11px;
        } 
      }
      
    }
  }
  
  #article_image {
    position:absolute; right:20px; top:26px;
    width:348px; height:214px;
    border:1px solid $border-info-color; background-color:white;
    
    img {
      float:left; margin:5px 0 0 5px; width:338px; height:204px;
    }
    
    .shadow {
      float:left; background:url(blog/photo-shadow.png) no-repeat 0 0; width:348px; height:22px; margin-top:5px;
    }
  }
}

#intro_article {

  float:left; width:569px; height:auto; position:relative;
  padding:15px 60px;
    
  background:url(application/bgr-article-intro-mash.png);



}

article {
  
  float:left; width:689px;

  .wysiwyg-text-decoration-underline {
    text-decoration:underline;
  }
  
  
  .prow-advice {
    width:640px;
    padding:10px 20px;
    border:1px solid #666;
    background-color:#E2FAFF;

    p {
      margin-top:10px;
      font-style:italic;      
    }
  }

  table {

    td {
      padding:3px;  
    }

    p {
      margin:0;
    }
  }

  p,a,td {
    font-size:1.1em;
  }

  td > p {
    font-size:1em;
  }

  .white-box {
    float:right;
    width:400px;
    height:155px;
    background-color:white;    
  }
  h3 {
    font:normal 1.6em AbadiCondensed;
  }
  
  h4 {
    font:normal 1.4em AbadiCondensed;
  }  
      
  img {
    padding:5px; 
    background-color:white;
    border:1px solid $font-color-gray;
    margin:15px;
    max-width:642px;
    
  }
  
  p {
    margin-top:20px;

    a {
        text-decoration:none;
    }
  }
  
  p,a,td {
   line-height:1.4em; 
  }

  ul {
    float:left;
    margin-left:20px;
    padding-bottom:20px;

    li {
      float:left;
      margin-top:15px;
      list-style:disc;
      line-height:1.4em;

      font-size:1em;
    }
  }
  
  // video
  iframe {
    padding:5px; 
    background-color:white;
    border:1px solid $font-color-gray;
    margin:15px;
  }
    
  footer{
    width:659px;
    height:auto;
    border:1px solid $bg-tags-color; border-left:none; border-right:none; 
    margin-top:50px;
    background-color:$bg-color-ads;
    padding:11px 15px;

    ul,li {
      list-style:none;
      margin:0; padding:0;
    }

    .left {
      float:left; width:240px;
      height:100%;
      
      h5 {
        float:left; width:100%;
        font:normal 1.5em AbadiCondensed;
        color:$date-font-color;
      }
    }

    .right {
      float:right; width:411px;
      height:100%;      
      
      h6 {
        text-align:right;
        font:normal 1.3em AbadiCondensed;
        color:$date-font-color;
        width:100%;
      }
      
      ul {
        float:right; width:100%; 
        
        li {
          float:right; width:auto; text-align:right; margin-top:10px;
          margin-left:10px;
          
          iframe {
            background:none;
            border:none;  
            padding:0; margin:0;
          }
        }
      }
    }
    
    .tags {
      width:100%; margin-top:10px;
    }
    
    .share {
      float:right; width:190px; height:100%;
    }
  }
}

#comments {
  float:left; margin-top:30px;
  width:689px;
  
  h5 {
    font:normal 1.5em AbadiCondensed; color:$date-font-color;
    padding-bottom:10px;    
  }
  
  .logged {
    h6 {
      font-size:1.5em;
    }
  }
  
  h6 {
    float:left;
    font:normal 1.3em AbadiCondensed; color:$date-font-color; padding-bottom:10px;
  }
  p {
    float:left; font:normal 1.2rem Arial; color:$date-font-color; width:100%; margin:0; line-height:1.4em;
  }
  
  .not_logged {
    float:left; width:659px;
    border-top:1px solid $bg-tags-color;
    background-color:$bg-color-ads;
    padding:15px;    
  }
  
  .logged {
    float:left; width:689px; margin-top:20px;
  }

  form {
    float:left;
    position:relative; margin-top:10px;
  
    p {
      position:absolute; top:-15px; right:12px;
      color:$date-font-color;
      font:normal 0.8em Arial;     
      text-align:right; 
    }
    
    textarea {
      float:right;
      border:1px solid $font-color-gray;
      
      background-color:$bg-color-ads;
      padding:10px;
      width:583px; max-width:583px;
      height:75px; max-height:75px;
      color:$date-font-color;
      @include border-radius(10px);
      font:normal 1.2rem Arial;
      resize:none;
    }
    
    input[type="submit"] {
      float:right;
      margin-top:10px;
      font:normal 1.7rem AbadiCondensed; color:white;
      padding:5px 10px;
      border:none;
      text-align:center;
      @include border-radius(6px);
      @include linear-gradient(black);
      
      &:hover {
        cursor:pointer;
        @include linear-gradient-hover;
      }
    }
  }
  
  .comment {
    float:left; width:689px; padding:15px 0;
    border-bottom:1px solid $bg-tags-color;
    
    p {
      float:left; width:603px;
    }
    
    .author {
      color:$date-font-color;
      font:normal 1.1rem Arial;
      margin-top:5px; padding-bottom:10px;
    }
  }
  
  .pagination {
    background:none;
    text-align:right;
    margin-top:10px;
    
    .prev {margin-right:15px;}
    .next {margin-left:15px;}
  }

}
