@import "partials/common_properties";

.search-box {
  float:left; 
  width:668px; 
  padding:10px 0 15px; 
  
  background-color:$bg-black-normal;
  
  @include border-radius(10px);
  @include border-bottom-right-none();
  color:white; 
  position:relative;
  
  em {
    font-weight:bold;
  }
  
  h3,h4,form {
    margin-left:15px;
  }
  
  h3 {
    float:left; 
    width:600px;
    font:normal 1.8em QuicksandBook; 
    letter-spacing:-2.0px;
    -webkit-font-smoothing: antialiased;
    padding-bottom:10px;
  }
  
  form {
    float:left; width:637px;
    
    span {
      float:left; width:100%; height:27px; position:relative; @include border-radius(6px); background-color:white;
      border:1px solid darken($bg-black-normal,20%);

      img {
        position:absolute; top:6px; left:7px; width:15px; height:15px;
      }
      
      input {
        border:none;
      }

      input[type="search"] {
        position:absolute; top:0; left:29px; width:475px; height:25px;
        
        &::-webkit-input-placeholder,&::-moz-placeholder	{ font:normal 1.1em Arial; font-style:italic; color:darken($font-color-gray,30%); }
      }
              
      input[type="submit"] {
        position:absolute; top:2px; right:3px; text-align:center;
        @include border-radius(6px);
        @include linear-gradient(black);
        width:70px;
        color:white;
        font:normal 1.4em AbadiCondensed;          
        -webkit-font-smoothing: antialiased;
        
        &:hover {
          cursor:pointer;
          @include linear-gradient-hover;
        }
      }
      
    }
  }
  
  .toggle_filters {
    position:absolute;
    bottom:-29px;
    right:0;
    width:100px;
    height:22px;
    padding-top:7px;
    text-align:center;
    z-index:0;
    background-color:darken($bg-red-darkest,5%);
    @include border-radius-bottom($radius:10px);
    text-decoration:none;
    font:normal 1em Arial; 
    color:white;
    
    &:hover {
      background-color:darken($bg-red-darkest,10%);
    }
  }  
  
}


.results {
  float:left;
  width:668px;
  margin-top:40px;
  
  h3 {
    letter-spacing:-2.0px;
    font:normal 2.5em QuicksandBook;
    color:$bg-black-normal;
    width:668px;
    border-bottom:1px solid $bg-black-normal;
  }
  
  p {
    float:left;
    font:normal 1.5em AbadiCondensed;
    color:$bg-black-normal;
    margin-top:13px;

    em {
      color:$bg-red-normal;
    }
  } // p
  
  ul {
    float:left;
    width:668px;
    margin-top:30px;
    
    li {
      float:left;
      width:638px;
      padding:15px;
      
      background-color:$bg-color-ads;
      
      .arrow {
        margin:0 5px;
      }
      p {
        margin:0;
        font:normal 1em/2.1em Arial;
        color:$date-font-color;
        margin-left:7px;
        
        &.breadcrumb {
          float:left;
          width:638px;
          margin:5px 0 0;
          font:normal 0.9em Arial;
          color:$bg-black-normal;
        }
      }
      a {
        float:left;
        font:normal 1.6em YanoneKaffeesatzRegular;
        color:$title-font-color;
        text-decoration:none;
        
        &:hover {
          color:darken($title-font-color,20%);
        }    
      }
      
      &.odd {
        background-color:white;
      }
    }
  }
}