@import "application";

#user_data {
  float:left;
  background-color:$bg-blue-normal;
  @include border-radius(10px);
  
  header {
    float:left;
    background-color:darken($bg-blue-normal,10%); width:100%; height:auto; padding:2px 0 8px;
    margin:0;
    @include border-radius-top(10px);

    
    h3 {
      display:inline-block;
      width:100%;
      text-align:center;
      font:normal 2.3em AbadiCondensed; 
      color:white;
      margin-top:7px;
    }
    a {
      float:right;
      margin-right:177px;
      font:normal 1em/0.7em Arial;
      color:white;
      text-decoration:underline;
      
      &:hover {
        color:darken(white,25%);
      }
    }
  }
  
  form {
    float:left; 
    margin-left:180px;
    padding:20px 0 30px;
    
    label {
      width:415px;
      margin-left:5px;
      font-size:1.4em;      
    }

    input{
      font-size:1em;
      width:245px; height:17px;
      padding:5px;
    }
    
    .file {
        float:left;
        width:245px; height:17px;
        border:1px solid $date-font-color;
        background-color:white;
        @include border-radius(5px);
        padding:5px;
        position:relative;
        
      input[type="file"]{
        position:absolute;
        top:5px; right:3px; width:245px; height:17px;
        @include opacity(0); z-index:10;
      }
      
      p {
        position:absolute; top:7px; left:7px;
        font:normal 1em Arial;
        color:$bg-black-normal;
        
        &.empty {
          font-style:italic;
        }
      }
      
      .update_img {
        position:absolute; top:3px; right:3px; text-align:center; padding:0 10px;
        width:48px;
        height:21px;
        @include border-radius(6px);
        @include linear-gradient(black);
        color:white;
        font:normal 1.2em AbadiCondensed;          
        
        &:hover {
          cursor:pointer;
          @include linear-gradient-hover;
        }
      }
      
    }
    
    input[type="submit"]{
      font-size:1.5em;
      width:257px;
      height:28px;
      margin:20px 0 0 82px;
      padding:0;
      letter-spacing:-1.0px;
    }
    
    input[type="checkbox"] {
      float:left;
      width:13px;
      margin-left:81px;
      
      & + label {
        width:250px;
        margin-left:0;
      }
    }
  }
  
  .field {
    
    float:left; padding:5px 0;
    
    .options {
      float:left; width:415px; margin-top:14px;
      
      label {
        width:auto; margin-right:10px;
      }
    }
    
    img {
      float:left;
      margin:10px 35px 0 10px;
      
      &.wide {
        margin:10px 17px 0 0;
      }
    }
    
    .avatar {
      img {margin:0;}
    }
  }
}

#why_register {

  float:left;
  margin-top:35px;
  width:100%;
  
  h3 {
    font:normal 2em QuicksandBook; letter-spacing:-2.0px;
    color:$bg-black-normal;
    width:100%;
    border-bottom:1px solid $bg-black-normal;
    
  }
  
  ol {
    font:bold 2em QuicksandBook; color:$font-color-orange;
    margin:10px 0 0 50px;
    
    li {
      float:left;
      margin-top:20px; width:100%;
      
      p {
        font:normal 0.5em Arial; 
        color:$bg-black-normal;
      }
      
      
    }
  } // ol
  
  a {
        
    &#ok {
      float:right;
      font:normal 1.8em AbadiCondensed; 
      text-decoration:underline;
      margin-top:30px;
    }
  }
  
}
