@import "partials/common_properties";

$spacing:30px;
$inside-post:311px;
$little-level-height:58px;
$little-level-width:96px;

$big-level-height:78px;
$big-level-width:124px;

.nav-section{ 
 .box-options {
   float:left;
   margin:0;
   background:url(visual-guide/kind-videos-box-dashed.png) no-repeat 0 0;
   width:298px;
   height:52px;
   
 }
 
 .scissors {
    &.abdominales {
      right: 35px;
    }  
    &.estiramientos {
      right: 175px;
    }
    &.editorial {
      right: 302px;
    }    
 }
 
}

.date {
  float:left;
  width:$inside-post;
}


.videos {

  &.no-category {
    h2 {

      margin-top:10px;
    }
  }
  
  h2 {
    float:left;
    width:100%; margin-top:0px;

    a {
      font:normal 1.9em YanoneKaffeesatzRegular;
      text-decoration:none;
      color:$title-font-color;

      &:hover {
        color:darken($title-font-color,20%);
      }
    }

  }
  
  h3 {
    width:100%; margin-top:0px;

    a {
      font:normal 1.3em YanoneKaffeesatzRegular;
      text-decoration:none;
      color:$font-color-green;

      &:hover {
        color:darken($font-color-green,20%);
      }
    }

  }
  
  li {
    float:left; 
    margin-bottom:$spacing;
    margin-right:19px;
    
    position:relative;
    
    &.odd {
      margin-right:0;
    }
    
    div {
      padding:11px;
      width:$inside-post;
      height:388px;
      position:relative;
      
      border:1px solid $border-info-color;
      float:left; z-index:10;
      
      .level {

        position:absolute;
        bottom:-2px;
        right:-2px;
        width:$little-level-width;
        height:$little-level-height;
      }
      
      .tags {
        position:absolute;
        bottom:17px;
        left:11px;
        width:$inside-post;
        li {
          margin:0 5px 0 0;  
        }
      }
      
    }
    
    h4 {
      color:darken($font-color-green,10%);
      float:left;
      margin-top:10px;
      width:$inside-post;
      font:normal 1.4em AbadiCondensed;
      
      a {
        color:darken($font-color-green,10%);
        font:normal 1em AbadiCondensed;
        text-decoration:none;
        
        &:hover {
          color:darken($font-color-green,30%);
        }
      }
    }
    
    .date {
      float:left;
      
      margin-top:2px;
      font:normal 1.0em Arial;
      color:$date-font-color;
    }
    
    .video {
      float:left;
      width:$inside-post;
      height:233px;
      overflow:hidden;
    }

    .shadow {
      position:absolute; bottom:-16px; left:0;
      z-index:0;
      background:url(visual-guide/video-shadow.png) no-repeat 0 0;
      width:332px;
      height:16px;
    }
    
    &:hover {
      div {
        border-color:darken($border-info-color,10%);
      }
      
      .shadow {
        background:url(visual-guide/video-shadow-hover.png) no-repeat 0 0;
      }
      
    }
    
    &.abdominales {
      .level {
        background:url(visual-guide/abdo-levels-little.png) no-repeat 0 0;

        &.nivel1 {
          background-position:0 0;
          
           &:hover {
              background-position:#{-($little-level-width)} 0;
            }
        }

        &.nivel2 {
          background-position:0 #{-($little-level-height)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height)};
          }
        }

        &.nivel3 {
          background-position:0 #{-($little-level-height*2)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*2)};
          }
        }

        &.nivel4 {
          background-position:0 #{-($little-level-height*3)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*3)};
          }
        }
      
        &.nivel5 {
          background-position:0 #{-($little-level-height*4)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*4)};
          }
        }
      }
    }
    
    &.estiramientos {
      .level {
        background:url(visual-guide/estira-levels-little.png) no-repeat 0 0;

        &.pantorrilla {
          background-position:0 0;
          
          &:hover {
            background-position:#{-($little-level-width)} 0;
          }
        }

        &.musculo {
          background-position:0 #{-($little-level-height)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height)};
          }
          
        }

        &.cadera {
          background-position:0 #{-($little-level-height*2)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*2)};
          }
          
        }

        &.tronco {
          background-position:0 #{-($little-level-height*3)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*3)};
          }
        }
      
        &.pectoral {
          background-position:0 #{-($little-level-height*4)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*4)};
          }
        }
        
        &.dorsal {
          background-position:0 #{-($little-level-height*5)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*5)};
          }
        }

        &.hombro {
          background-position:0 #{-($little-level-height*6)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*6)};
          }
        }

        &.brazo {
          background-position:0 #{-($little-level-height*7)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*7)};
          }
        }

        &.antebrazo {
          background-position:0 #{-($little-level-height*8)};
          
          &:hover {
            background-position:#{-($little-level-width)} #{-($little-level-height*8)};
          }
        }
      }
    }
    
  }
  
  &.multiple-posts {
    li {
      &:first-child {
        margin-top:0;
      }
    }
  }
}

#header_article {

  .level {
    position:absolute;
    bottom:0;
    right:0;
    width:$big-level-width;
    height:$big-level-height;

  }

  &.abdominales {
    .level {
        background:url(visual-guide/abdo-levels-big.png) no-repeat 0 0;

        &.nivel1 {
          background-position:0 0;
          
           &:hover {
              background-position:#{-($big-level-width)} 0;
            }
        }

        &.nivel2 {
          background-position:0 #{-($big-level-height)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height)};
          }
        }

        &.nivel3 {
          background-position:0 #{-($big-level-height*2)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*2)};
          }
        }

        &.nivel4 {
          background-position:0 #{-($big-level-height*3)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*3)};
          }
        }
      
        &.nivel5 {
          background-position:0 #{-($big-level-height*4)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*4)};
          }
        }
      }
  }
  &.estiramientos {
      .level {
        background:url(visual-guide/estira-levels-big.png) no-repeat 0 0;

        &.pantorrilla {
          background-position:0 0;
          
          &:hover {
            background-position:#{-($big-level-width)} 0;
          }
        }

        &.musculo {
          background-position:0 #{-($big-level-height)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height)};
          }
          
        }

        &.cadera {
          background-position:0 #{-($big-level-height*2)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*2)};
          }
          
        }

        &.tronco {
          background-position:0 #{-($big-level-height*3)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*3)};
          }
        }
      
        &.pectoral {
          background-position:0 #{-($big-level-height*4)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*4)};
          }
        }
        
        &.dorsal {
          background-position:0 #{-($big-level-height*5)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*5)};
          }
        }

        &.hombro {
          background-position:0 #{-($big-level-height*6)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*6)};
          }
        }

        &.brazo {
          background-position:0 #{-($big-level-height*7)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*7)};
          }
        }

        &.antebrazo {
          background-position:0 #{-($big-level-height*8)};
          
          &:hover {
            background-position:#{-($big-level-width)} #{-($big-level-height*8)};
          }
        }
      }
    }
  
}

.pagination {
  background-color:lighten($bg-black-normal,15%);
  @include border-radius(10px);
  padding-top:6px;
  height:22px;
  
  text-align:center;
  
  span {
    color:$bg-black-normal;
    
    &.current {
      with:100%; height:100%; text-align:center;
      background-color:$bg-pag-current;
      color:white; 
      padding:3px 7px;
      font:normal 1em Arial;
      @include border-radius(3px);
    }
    
    &.first {

      a {
        background:url(application/page-arrows.png) no-repeat -33px 1px white;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    &.prev {

      a {
        background:url(application/page-arrows.png) no-repeat -33px -17px white;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    
    &.next {

      a {
        background:url(application/page-arrows.png) no-repeat -50px -17px white;
        padding-top:3px;
        padding-left:16px;
      }
      margin:0 5px;
    }
    
    &.last {

      a {
        background:url(application/page-arrows.png) no-repeat -50px 1px white;
        padding-top:3px;
        padding-left:16px;
      }
    }
    
    a {
      with:100%; height:100%; text-align:center;
      background-color:white; 
      padding:3px 7px;
      font:normal 1em Arial; color:$bg-pag-normal;
      @include border-radius(3px);
      
      text-decoration:none;
      
      &:hover {
        background-color:lighten($bg-pag-normal,60%);
      }
    }
    
    
  }
}

.videos {
  float:left;
}



.search-box {

  .pagination {
    @include border-top-none;  
    @include border-bottom-right-none;
  }
  
}

.search-box + .videos {
 margin-top:40px; 
}