<p>Consulta los vídeos del libro "Entérate"</p>

<%= form_tag visual_guide_editorial_video_path, :method => :post do %>
  <%= text_field_tag :code, @book_video.code, :placeholder => "introduce el código" %> <br />
  <%= submit_tag "ver vídeo" %>
<% end %>

<%=raw @book_video.video %>