<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Galería de imágenes</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>