<%= form_tag password_resets_path, :id => 'login_form' do %>
  <%= label_tag :email, 'introduce tu email ' %>
  <%= text_field_tag :email, '', :class => (flash[:alert] ? 'error' : nil), :value => (flash[:alert]? flash[:alert]:''), :placeholder => flash[:alert] %>
  <%= submit_tag 'enviar password', :class => "login" %>

  <a href="#" class="remember_cancel">cancelar</a>
<% end %>